// Top Header
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: $primary-color;
  color: $text-light;

  p {
    font-family: $nunito;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  button {
    background-color: $secondary-color;
    color: $primary-color;
    border: none;
    font-family: $nunito;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px;
    margin-left: 16px;
  }
}
